body{
    font-family: Verdana, sans-serif;
    background-color: lightblue;
}

header h2 a{
    font-size: 1.75em;
    text-align: center;
    color: black;
    text-decoration: none;
}

h2{
    font-size: 1.25em;
}

header nav a{
    text-decoration: none;
    background-color: black;
    color: white;
    
}

nav a:hover{
    background-color: gray;
}

nav a.visited{
    background-color: yellow;
}

nav a::before{
    content: url(images/link.png);
}

nav a:first-child{
    font-weight: bold;
}




nav a:not(:first-child){
    font-style: italic;
}

body > p{
    font-variant: small-caps;
}



body > p::first-letter{
    font-weight: bold;
}

h2 + p{
    text-indent: 20px;
    font-style: italic;
}

h2 ~ p::first-letter{
    font-size: 1.75em;
}



ul li{
    color: green;
    list-style-image: url(images/clipboard.png);
}





ul li li{
    color: blue;
    list-style-image: none;
    list-style-type: square;
}


ul > li:hover ul li {
    list-style-type: circle; 
}

ul > li > ul > li:first-child {
    list-style-type: disc;
}

input[type="text"]{
    font-size: 1em;
}

input[type="text"]:focus{
    background-color: #11ff11;
}

input[type="text"][name="naam"]{
background-color: #ff1111;
}

input[type="text"][name="naam"]:hover{
background-color: #991111;
}


input[type="text"][name="voornaam"]{
background-color: #1111ff;
}
input[type="text"][name="voornaam"]:hover{
background-color: #111199;
}


input[type="text"]:focus{
    background-color: #11ff11;
}

label[for="tevreden"] {
    color: #11ff11;
}
input[id="tevreden"]:checked + label[for="tevreden"] {
    color: #116611;
}

label[for="ontevreden"] {
    color: #ff1111;
}
input[id="ontevreden"]:checked + label[for="ontevreden"] {
    color: #661111;
}

footer{
    font-size: 0.75em;
    text-align: right;
}